*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manufacturing+Consent&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

.raleway-raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
     background-color:#F5F8FF ;
}

/* header section is start from here */
header{
    /* height: 100vh; */
    height: 698px;
    background-image:url("Assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navber{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}
.nav-logo{
    font-family: "Inter", sans-serif;
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF
}
.nav-btn{
    height: 48px;
    width: 132px;
     transition: 1s;
}
.hero{
    text-align: center;
    width:905px;
    /* align-content: center; */
    height: 237px;
    margin:200px auto;

}
.hero h1{
  font-family: "Raleway", sans-serif ;
  margin-bottom:37px ;
  font-size: 65px;
  font-weight: bold;
 
}
.hero-btn{
    width:174px ;
    height:48px ;
     transition: 1s;
}



/* header section is end */



/* selected tag start from here */
.button-primary{
    background-color:#4E47FF;
    border-radius: 10px;
    color:white;
    font-weight: bold;
    font-family: "Raleway", sans-serif ;
    border: none;
}
.button-primary:hover{
    background-color: violet;
    cursor: pointer;
}
.inter-font{
    font-family: "Inter", sans-serif;
}


/* selected tag end from here */


/* main section is start from here */




/* action section is start */

.action{
  width: 1140px; 
  max-height:328px ; 
  border-radius: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:116px auto 100px;

  


}
.action img{
    background-repeat: no-repeat;
    border-radius:48px ;

}
.action-describe {
    padding: 0 20px;
}
.action-describe p{
    margin: 23px 0;
    color: #252432;
}
.action-describe h2{
    font-size: 42px;
}
.action-describe .action-button{
   width: 229px;
   height:48px ;
    transition: 1s;
}

/* action section is end */

/* user section is start */
.user-container{
 max-width: 1140px;
 height: 306px;
 border:1px solid white;
 text-align: center;
 margin:auto;
 box-sizing: border-box;
 background-color:#4d47ff41 ;
 border-radius:24px ;
}



.user-items{
    display: flex;
    gap: 158px;
    justify-content: center;
    /* margin-top: 120px; */
}
.user-tittle{
margin: 50px 0 40px 0;
  font-family: "Raleway", sans-serif ;
  font-size: 38px;
}
.user-item h2{
font-size: 80px;
font-family: "Inter", sans-serif;
font-weight: 600;
color:#4E47FF;



}

.user-item p{
    color:#252432;
    font-family: "Inter", sans-serif;
}


/* user section is end */







/* user review section start */
 .review-section {
    max-width: 1140px;
    height: 350px;
    text-align: center;
    margin:137px auto;
}
.review-tittle{
    margin-bottom:50px ;
     font-family: "Raleway", sans-serif;
     font-weight:600;
     font-size:42px
}
.review-container{
    display:flex;
    gap:20px;
    justify-content: center;
    align-items: center;

} 
.single-review{
    padding:24px ;
    text-align: start;
    border-radius: 14px;
    box-shadow:5px 5px 5px #F2EDED ,-5px -5px 5px #F2EDED ; ;
}
.review-container h3{
    padding: 24px 0 8px;
}
.user-info{
    margin-top: 10px;
    display: flex;
    gap: 10px;
   
}
.user-info .user-img img{
    border-radius: 100%;
}
.user-data p{
    color:#8987A1;
}

/* user review section end  */


 /* focus section is start from here */
.focus-container{
    width: 1140px;
    background-color: white;
    margin: auto;
    text-align: center;
    padding: 30px;
    border-radius: 10px;

}
.focus-container .focus-tittle{
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size:50px;
}
.focus-container .focus-description{
    color: #000000;
}
.focus-button{
    width: 195px;
    height: 48px;
     transition: 1s;    
}
.focus-container img{
    vertical-align: bottom;
    border-radius: 48px;
    display: block;
    margin: auto;

}



.focus-container .focus-tittle, .focus-button ,.focus-image{
    margin: 24px 0;
}


/* focus section is end */

/* touch section is start from here */
.touch-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 115px;
    width:1142px;
    height: 532px;
    margin:94px auto 0;    
}
.touch-container p{
font-family: "Raleway", sans-serif;
font-size: 97px;
font-weight: bold;

}


.touch-input{
border: none;
background-color:white ;
height:50px ;
width: 470px;
padding:20px;
margin:10px 0;
font-size:20px ;

}
.touch-btn{
    display: block;
    width: 400px;
    height: 62px;
     transition: 1s;


}
#massage{
    width: 477px;
    height:115px ;
    padding: 10px 10px 15px;
    border: none;
    margin: 10px 0;
    font-size:20px ;

}

/* touch section is end */


/* main section is start from end */





/* footer section is start */
footer{
    text-align: center;
    height: 428px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content{
    width:525px ;
    height: 221px;
    text-align: center;
    padding:10px;
    
    
}
.footer-content ul {
    display: flex;
    gap:20px;
    justify-content: center;
}
footer .footer-content  ul li{
    list-style: none;

}
footer .footer-content ul li a{
    text-decoration: none;
    color: #8987A1;
}
.footer-content h4{
    font-size: 100px;
    font-weight: bold;
    color: #4E47FF;
     font-family: "Inter", sans-serif;
}

.footer-description{
    color:#8987A1 ;
    margin: 10px 0;
} 

/* footer section is end